@{
    ViewData["Title"] = "Home Page";
}
<li><a asp-area="" asp-controller="Entidad" asp-action="index">Entidad</a></li>
<li><a asp-area="" asp-controller="Contacto" asp-action="index">Contacto</a></li>
<li><a asp-area="" asp-controller="Reserva" asp-action="index">Reserva</a></li>
<li><a asp-area="" asp-controller="TipoEvento" asp-action="index">Tipo Evento</a></li>
<li><a asp-area="" asp-controller="Tema" asp-action="index">Tema</a></li>
<li><a asp-area="" asp-controller="Reserva" asp-action="index">Reserva</a></li>
<li><a asp-area="" asp-controller="Usuario" asp-action="index">Usuario</a></li>
<li><a asp-area="" asp-controller="Evento" asp-action="index">Evento</a></li>
<li><a asp-area="" asp-controller="TipoUsuario" asp-action="index">Tipo Usuario</a></li>
<li><a asp-area="" asp-controller="NivelAcademico" asp-action="index">Nivel Academico</a></li>
<li><a asp-area="" asp-controller="Calificacion" asp-action="index">Calificacion</a></li>
<li><a asp-area="" asp-controller="Ubicacion" asp-action="index">Ubicacion</a></li>
<li><a asp-area="" asp-controller="Provincia" asp-action="index">Provincia</a></li>
<li><a asp-area="" asp-controller="Canton" asp-action="index">Canton</a></li>
<li><a asp-area="" asp-controller="Distrito" asp-action="index">Distrito</a></li>


